


<!-------------------section header --------------------------------->

<header class="header">
    <div class="container head-content" data-aos="fade-up" data-aos-duration="1000">
        <h2>GIFT CARD</h2>
    </div>
</header>

<!-------------------section header --------------------------------->




<!-------------------section card --------------------------------->


<section class="py-5 container cards">

        <div class="row pt-5">
            <div class="col-lg-6 mb-5" data-aos="fade-right" data-aos-duration="1000">
                <div class="card-cover">
                </div>
            </div>
            <div class="col-lg-6 pt-5 mb-5" data-aos="fade-left" data-aos-duration="1000">
                <div class="card-body">
                    <span>From Me to You</span>
                    <h2>GOLD GIFT CARD</h2>
                    <p>Lorem ipsum dolor sit amet, eum quis labitur 
                        reprehendunt in, eum eu perfecto mediocritatem. 
                        His eu feugait nostrum, sumo minim appellantur vel ea.
                    </p>
                    <div class="mt-5">
                        <a href="#" class="btn1 mb-5">E-Gift Card</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5" data-aos="fade-left" data-aos-duration="1000">
                <div class="card-cover2">
                </div>
            </div>
            <div class="col-lg-6 pt-5 mb-5" data-aos="fade-right" data-aos-duration="1000">
                <div class="card-body">
                    <span>From Me to You</span>
                    <h2>PLATINUM GIFT CARD</h2>
                    <p>Lorem ipsum dolor sit amet, eum quis labitur 
                        reprehendunt in, eum eu perfecto mediocritatem. 
                        His eu feugait nostrum, sumo minim appellantur vel ea.
                    </p>
                    <div class="mt-5">
                        <a href="#" class="btn1 mb-5">E-Gift Card</a>
                    </div>
                </div>
            </div>
        </div>
    
</section>


<!-------------------section card --------------------------------->





