

<footer>
    <div class="footer-head">
        <div class="container py-5">
            <div class="row pt-5">
                <div class="col-lg-3 col-md-6 col-sm-6  mb-4 " data-aos="fade-up" data-aos-duration="800">
                    <div class="footer-content">
                        <h4>contact</h4>
                        <ul>
                            <li>
                                <a href="#">+112 345 6789</a>
                            </li>
                            <li>
                                <a href="#">1316 Abbot Kinney Blvd.</a>
                            </li>
                            <li>
                                <a href="#">Copenhagen CA 90291</a>
                            </li>
                        </ul>
                        <div class="icon-footer">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6  mb-4 " data-aos="fade-up" data-aos-duration="900">
                    <div class="footer-content">
                        <h4>help</h4>
                        <ul>
                            <li>
                                <a href="#">FAQs</a>
                            </li>
                            <li>
                                <a href="#">Pricing Plans</a>
                            </li>
                            <li>
                                <a href="#">Track</a>
                            </li>
                            <li>
                                <a href="#">Your Order</a>
                            </li>
                            <li>
                                <a href="#">My Account</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6  mb-4 " data-aos="fade-up" data-aos-duration="1000">
                    <div class="footer-content">
                        <h4>ABOUT US</h4>
                        <ul>
                            <li>
                                <a href="#">Our Story</a>
                            </li>
                            <li>
                                <a href="#"> Job Opportunities </a>
                            </li>
                            <li>
                                <a href="#">Store Locator</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6  mb-4 " data-aos="fade-up" data-aos-duration="1100">
                    <div class="footer-content">
                        <h4>CUSTOMER SERVICE</h4>
                        <ul>
                            <li>
                                <a href="#">My Account</a>
                            </li>
                            <li>
                                <a href="#"> Terms of Use </a>
                            </li>
                            <li>
                                <a href="#"> Deliveries & Returns </a>
                            </li>
                            <li>
                                <a href="#">Gift Card</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
    <div class="container footer-body py-3">
        <h3>©2020. All Rights Reserved. Designed with by Taha</h3>
    </div>
</footer>
