<!-------------------section header --------------------------------->

<header class="header">
    <div class="container head-content" data-aos="fade-down" data-aos-duration="1000">
        <h2>PRICING PLANS</h2>
    </div>
</header>

<!-------------------section header --------------------------------->


<!-------------------section price --------------------------------->

<section class="price container py-5">
    <div class="row pt-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-4 price-brdr mb-5">
            <div class="price-content text-center py-5">
                <h3 class="pt-4 pb-4">BASIC</h3>
                <div>
                    <span> <sup>$</sup> 79 </span>
                    <p>Week</p>
                </div>
                <ul class="list-unstyled mb-5">
                    <li>Wall posters</li>
                    <li>Bowls $ Vases</li>
                    <li>Coffee tables</li>
                    <li>Ibrik sets</li>
                </ul>
                <div class="mb-5">
                    <a href="#" class="btn1 mb-5">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 price-brdr mb-5">
            <div class="price-content bg-price text-center py-5">
                <h3 class="pt-4 pb-4">PREMIUM</h3>
                <div>
                    <span> <sup>$</sup> 299 </span>
                    <p>Month</p>
                </div>
                <ul class="list-unstyled mb-5">
                    <li>Wall posters</li>
                    <li>Bowls $ Vases</li>
                    <li>Coffee tables</li>
                    <li>Ibrik sets</li>
                </ul>
                <div class="mb-5">
                    <a href="#" class="btn1 mb-5">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 price-brdr mb-5">
            <div class="price-content text-center py-5">
                <h3 class="pt-4 pb-4">BUSINESS</h3>
                <div>
                    <span> <sup>$</sup> 799 </span>
                    <p>Year</p>
                </div>
                <ul class="list-unstyled mb-5">
                    <li>Wall posters</li>
                    <li>Bowls $ Vases</li>
                    <li>Coffee tables</li>
                    <li>Ibrik sets</li>
                </ul>
                <div class="mb-5">
                    <a href="#" class="btn1 mb-5">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-------------------section price --------------------------------->


<!-------------------section beauty --------------------------------->

<div class="beauty py-5 container">
    <div class="row pt-5 mt-5">
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="800">
            <div>
                <img src="assets/images/Clients-1.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1000">
            <div>
                <img src="assets/images/Clients-2.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1200">
            <div>
                <img src="assets/images/Clients-3.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1400">
            <div>
                <img src="assets/images/home2-clients.png" class="img-fluid" alt="client">
            </div>
        </div>
    </div>
</div>

<!-------------------section beauty --------------------------------->




<!-------------------section carousel --------------------------------->
<section class="container py-5 carousel">
    <div class="head-content pt-5">
        <div data-aos="fade-up" data-aos-duration="800">
            <p>Stay Up to Date</p>
            <h2>JOIN OUR NEWSLETTER</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
            <owl-carousel-o [options]="customCarousel">
                <ng-template carouselSlide>
                    <img src="assets/images/insta.png" class="img-fluid" alt="chair">  
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                  <img src="assets/images/insta-1.jpg" class="img-fluid img2" alt="chair">
                  <div class="cover">
                     <i class="fab fa-instagram text-white"></i>
                  </div>
                </ng-template>  
                <ng-template carouselSlide>
                  <img src="assets/images/insta2.png" class="img-fluid img1" alt="chair">
                  <div class="cover">
                     <i class="fab fa-instagram text-white"></i>
                  </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/insta-3.jpg" class="img-fluid img2" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="assets/images/insta4.png" class="img-fluid img1" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/insta-5.jpg" class="img-fluid img2" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template>

              </owl-carousel-o>
        </div>
    </div>

</section>


<!-------------------section carousel --------------------------------->


