
<!----------------------------section header------------------------------>

<header class="header">
    <div class="head-content">
        <a (click) ="navigate()">Home </a>
        <span>  - </span>
        <a> Gallery List</a>
    </div>
</header>

<!----------------------------section header------------------------------>


<!-------------------section Summer Collection -------------------------------->

<section class="summer-collection py-5">
    <div class="summer-head pt-5">
        <div data-aos="zoom-in" data-aos-duration="800">
            <p>Summer Collection</p>
            <h2>MINIMAL & SIMPLE DESIGN</h2>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col-lg-4 col-md-4  col-sm-6 mb-4">
                <div class="img-summer">
                    <img src="assets/images/38.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <h5>
                            Add To Card
                        </h5>
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-between">
                        <div>
                            <h5>Chair</h5>
                            <a href="#">Art</a>
                        </div>
                        <div class="vote">$30.00</div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                <div class="img-summer">
                    <img src="assets/images/10.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <h5>
                            Add To Card
                        </h5>
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-between">
                        <div>
                            <h5>ficus</h5>
                            <a href="#">Seed Plant</a>
                        </div>
                        <div class="vote">$15.00</div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 .col- mb-4">
                <div class="img-summer">
                    <img src="assets/images/shoplist10.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <h5>
                            Add To Card
                        </h5>
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-between">
                        <div>
                            <h5>wall art</h5>
                            <a href="#">Art - Style</a>
                        </div>
                        <div class="vote">$46.00</div>
                    </div>

                </div>

            </div>
        </div>
        
    </div>
</section>

<!-------------------section Summer Collection --------------------------------->
