<section class="container pt-1">
<!--section nav-head-->

    <section class="d-flex justify-content-between nav-head">
        <div>
            <p>Free shipping for orders over $59!</p>
        </div>
        <div>
            <a routerLink = 'contact'>
                Contact
            </a>
        </div>
    </section>

<!--section nav-head-->
    <hr>
<!--section nav-mid-->

    <section class="nav-mid pt-5">
        <div class="row">

            <div class="col-md-4">
                <div class="search d-flex">
                    <img src="assets/images/search.png" class="mt-2">
                    <input type="search" placeholder="Search" class="w-50">
                </div>
            </div>
            <div class="col-md-4 m-auto">
                <div class="logo">
                    <img src="assets/images/logo-sidearea.png" alt="logo" >
                    
                </div>
            </div>
            <div class="col-md-2 col-offset-2">
                <div class="icons d-flex justify-content-around">
                    <div>
                        <i class="far fa-user mr-2"></i>
                    </div>
                    <div class="mr-4">
                        <i class="far fa-heart"></i>
                        <span>0</span>
                    </div>
                    <div>
                        <i class="fas fa-shopping-bag"></i>
                        <span>0</span>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
    </section>

<!--section nav-mid-->

<!--section navbar-->

   <nav class="navbar navbar-expand-lg navbar-light py-2 ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="assets/images/logo-sidearea.png" alt="logo" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = 'home'>Home</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" routerLink = 'pages' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" routerLink = 'about'>About us</a></li>
              <li><a class="dropdown-item" routerLink = 'team'>Our team</a></li>
              <li><a class="dropdown-item" routerLink = 'pricing'>pricing plans</a></li>
              <li><a class="dropdown-item" routerLink = 'client'>Our clients</a></li>
              <li><a class="dropdown-item" routerLink = 'gift'> gift card</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" routerLink = 'shop' id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Shope
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink = 'gallery'>Gallery</a></li>
              <li><a class="dropdown-item" routerLink = 'cascading'>Cascading Product</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" routerLink = 'portfolio'  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Portfolio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink = 'standard'>Standard List</a></li>
              <li><a class="dropdown-item" routerLink = 'masonry'>Masonry Grid</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink = 'blog'>Blog</a>
          </li>
          
          
        </ul>
        
      </div>
    </div>
   </nav>

<!--section navbar-->

</section>