

<!-------------------section header --------------------------------->

<header class="header">
    <div class="container head-content" data-aos="fade-right" data-aos-duration="1000">
        <h2>CONTACT US</h2>
    </div>
</header>

<!-------------------section header --------------------------------->



<!-------------------section contact --------------------------------->

<section class="contact container py-5">
    <div class="row py-5">
        <div class="col-lg-6 mb-5">
            <div class="contact-body">
                <p class="p-head">Contact Us</p>
                <h2>GOT ANY QUESTIONS?</h2>
                <p class="p-body">Nam nec tellus a odio tincidunt auctor a ornare odio. 
                    Sed non mauris vitae erat consequat auctor eu in elit.
                </p>
                <div class="order pt-4">
                    <p>OFFICE</p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">1316 Abbot Kinney Blvd.</a>
                        </li>
                        <li>
                            <a href="#">openhagen CA 90291</a>
                        </li>
                        <li>
                            <a href="#">+112 654 9867</a>
                        </li>
                        <li>
                            <a href="#">konsept@qode.com</a>
                        </li>
                    </ul>
                    <div class="icon-footer">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-lg-12">
                    <textarea placeholder="Comment" class="text-area"></textarea>
                </div>
                <div class="col-lg-12 d-flex justify-content-end">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-------------------section contact --------------------------------->






