

<!-------------------section header --------------------------------->

<header class="header">
    <div class="container head-content"  data-aos="fade-right" data-aos-duration="1000">
        <h2>ABOUT US</h2>
    </div>
</header>

<!-------------------section header --------------------------------->




<!-------------------section daily --------------------------------->

<section class="dailys container py-5">
    <div class="daily-head pt-5">
        <div data-aos="fade-up" data-aos-duration="800">
            <p>Daily Dose of Tips</p>
            <h2>READ OUR BLOG</h2>
        </div>
    </div>
    <div class="row py-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="daily-content">
                <img src="assets/images/34.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Tables, </a>
                        <a href="#">Wall Plates - </a>
                        <a href="#">March 27, 2020</a>
                    </div>
                    <h4>THINKING OF A PLACE</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="daily-content">
                <img src="assets/images/35.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Wall Plates - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>PERFECT DECORATION</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
            <div class="daily-content">
                <img src="assets/images/36.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Wall Plates - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>INTERIOR DESIGN STYLE</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-------------------section daily --------------------------------->



<!-------------------section Play --------------------------------->

<section class="container play mt-5 mb-5">

    <div class="container-shape">
        <div class="shape-brdr">
            <div class="shape"></div>
            <p>Play</p>

        </div>

    </div>
    
</section>




<!-------------------section Play --------------------------------->



<!-------------------section beauty --------------------------------->

<div class="beauty py-5 container">
    <div class="row">
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="800">
            <div>
                <img src="assets/images/Clients-1.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1000">
            <div>
                <img src="assets/images/Clients-2.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1200">
            <div>
                <img src="assets/images/Clients-3.png" class="img-fluid" alt="client">
            </div>
        </div>
        <div class="col-md-3 mb-3" data-aos="fade-left" data-aos-duration="1400">
            <div>
                <img src="assets/images/home2-clients.png" class="img-fluid" alt="client">
            </div>
        </div>
    </div>
</div>

<!-------------------section beauty --------------------------------->



<!-------------------section elementor-section slider2 --------------------------->

<section class="elementor-section mt-5 py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="img-position">
                    <div class="shape-img">
                        <img src="assets/images/13.png" data-aos="fade-up" data-aos-duration="1000" alt="shape" class="img-fluid shape1">
                        <img src="assets/images/14.png" data-aos="fade-up" data-aos-duration="1200" alt="shape" class="img-fluid shape2">
                    </div>
                    <div class="photo-img">
                        <img src="assets/images/productsingle.png"  data-aos="fade-down" data-aos-duration="2000" alt="chair" class="img-fluid photo2">
                    </div>
                    <div class="butterfly">
                        <img src="assets/images/18.png" data-aos="fade-up" data-aos-duration="1400" alt="butterfly" class="butterflys img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="shape-content">
                    <p class="p-head" data-aos="fade-up" data-aos-duration="1000">Furniture</p>
                    <h2 data-aos="fade-left" data-aos-duration="15000">think different</h2>
                    <p class="p-body" data-aos="fade-up" data-aos-duration="1000">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Culpa eligendi dolore a maxime tempore quas hic omnis, 
                        doloribus recusandae.
                    </p>
                    <button data-aos="fade-right" data-aos-duration="1000">Purchase</button>
                </div>
            </div>
        </div>

    </div>
</section>


<!-------------------section elementor-section  --------------------------->



<!-------------------section carousel --------------------------------->
<section class="container py-5 carousel">
    <div class="head-content pt-5">
        <div data-aos="fade-down" data-aos-duration="800">
            <p>Stay Up to Date</p>
            <h2>JOIN OUR NEWSLETTER</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12" data-aos="fade-up" data-aos-duration="1000">
            <owl-carousel-o [options]="customCarousel">
                <ng-template carouselSlide>
                    <img src="assets/images/insta.png" class="img-fluid" alt="chair">  
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                  <img src="assets/images/insta-1.jpg" class="img-fluid img2" alt="chair">
                  <div class="cover">
                     <i class="fab fa-instagram text-white"></i>
                  </div>
                </ng-template>  
                <ng-template carouselSlide>
                  <img src="assets/images/insta2.png" class="img-fluid img1" alt="chair">
                  <div class="cover">
                     <i class="fab fa-instagram text-white"></i>
                  </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/insta-3.jpg" class="img-fluid img2" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="assets/images/insta4.png" class="img-fluid img1" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/insta-5.jpg" class="img-fluid img2" alt="chair">
                    <div class="cover">
                        <i class="fab fa-instagram text-white"></i>
                     </div>
                </ng-template>

              </owl-carousel-o>
        </div>
    </div>

</section>


<!-------------------section carousel --------------------------------->
