<!----------------------------section header------------------------------>

<header class="header">
    <div class="head-content">
        <a (click) ="navigate()">Home </a>
        <span>  - </span>
        <a>Masonry Grid</a>
    </div>
</header>

<!----------------------------section header------------------------------>


<!----------------------------section masonry-Gallery------------------------------>

<section class="container py-5 masonry">
    <div class="row">
        <div class="col-lg-3 col-sm-3 mb-3 img-box-1" data-aos="fade-up" data-aos-duration="800">
            <div class="img-box mb-3">
                <img src="assets/images/Portfolio_masonry_grid-1.jpg" class="img-fluid" >
                <div class="center">
                    <div class="content">
                        <p>creative</p>
                        <h4>LAMPS</h4>
                    </div>
                </div>
            </div>
            <div class="img-box">
                <img src="assets/images/Portfolio_masonry-2.jpg" class="img-fluid" >
                <div class="center">
                    <div class="content">
                        <p>creative</p>
                        <h4>SHADE STORE</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 mb-3 img-box-2" data-aos="fade-up" data-aos-duration="800">
            <div class="img-box">
                <img src="assets/images/Portfolio_masonry_grid-3.jpg" class="img-fluid" >
                <div class="center">
                    <div class="content">
                        <p>creative</p>
                        <h4>PARK ESTATE</h4>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-3 mb-3 img-box-3" data-aos="fade-right" data-aos-duration="800">
            <div class="img-box  img-box-33 mb-4">
                <img src="assets/images/Portfolio_masonry_grid-4.jpg" class="img-fluid" >
                <div class="center">
                    <div class="content center-special">
                        <p>creative</p>
                        <h4>CHICAGO COLLECTION</h4>
                    </div>
                </div>
            </div>
            <div class="img-box img-box-33">
                <img src="assets/images/Portfolio_masonry_grid-8.jpg" class="img-fluid" >
                <div class="center">
                    <div class="content center-special">
                        <p>creative</p>
                        <h4>LIGHT COLLECTION</h4>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-9 mb-3 img-box-4" data-aos="fade-left" data-aos-duration="800">
            <div class="row">
                <div class="col-lg-4 mb-3 img-1">
                    <div class="img-box">
                        <img src="assets/images/Portfolio_masonry_grid-5.jpg" class="img-fluid" >
                        <div class="center">
                            <div class="content">
                                <p>creative</p>
                                <h4>LA COLLECTION</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 mb-3 img-2">
                    <div class="img-box">
                        <img src="assets/images/Portfolio_masonry_grid-6.jpg" class="img-fluid" >
                        <div class="center">
                            <div class="content content-size">
                                <p>creative</p>
                                <h4>SILVER COLLECTION</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-8 mb-3">
                    <div class="img-box">
                        <img src="assets/images/Portfolio_masonry_grid-7.jpg" class="img-fluid" >
                        <div class="center">
                            <div class="content">
                                <p>creative</p>
                                <h4>GOLD COLLECTION</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 mb-3">
                    <div class="img-box mb-4">
                        <img src="assets/images/Portfolio_masonry_grid-9.jpg" class="img-fluid" >
                        <div class="center">
                            <div class="content ">
                                <p>creative</p>
                                <h4>PLATINUM</h4>
                            </div>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="assets/images/Portfolio_masonry_grid-10.jpg" class="img-fluid" >
                        <div class="center">
                            <div class="content ">
                                <p>creative</p>
                                <h4>DARKER</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



<!----------------------------section masonry-Gallery------------------------------>




