<!-------------------section header --------------------------------->

<header class="header">
    <div class="container head-content" data-aos="fade-up" data-aos-duration="1000">
        <h2>OUR TEAM</h2>
    </div>
</header>

<!-------------------section header --------------------------------->



<!-------------------section our team --------------------------------->

<section class="team container py-5">
    <div class="row pt-5">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-down" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-2.jpg" alt="person" class="img-fluid">

                <div>
                    <h3 class="pt-4">JACK LEWINSKI</h3>
                    <p>CEO & Founder</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-down" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-3.jpg" alt="person" class="img-fluid">
                <div>
                    <h3 class="pt-4">LESSIE BALLARD</h3>
                    <p>Manager</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-down" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-4.jpg" alt="person" class="img-fluid">

                <div>
                    <h3 class="pt-4">DOROTHY BRINTON</h3>
                    <p>Senior Interior</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-down" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-5.jpg" alt="person" class="img-fluid">

                <div>
                    <h3 class="pt-4">ROSE CRANE</h3>
                    <p>Designer</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5"data-aos="fade-up" data-aos-duration="1000" >
            <div class="team-content">
                <img src="assets/images/Team-6.jpg" alt="person" class="img-fluid">

                <div>
                    <h3 class="pt-4">LAVERNE ANDERSEN</h3>
                    <p>Manager</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-7.jpg" alt="person" class="img-fluid">
                <div>
                    <h3 class="pt-4">SOPHIA RIBEIRO</h3>
                    <p>Senior Interior</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-8.jpg" alt="person" class="img-fluid w-100">

                <div>
                    <h3 class="pt-4">FRANK TYSON</h3>
                    <p>Designer</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mb-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="team-content">
                <img src="assets/images/Team-9.jpg" alt="person" class="img-fluid img-size">

                <div>
                    <h3 class="pt-4">EMILIE REYES</h3>
                    <p>Manager</p>
                    <div>
                       <a href="#">Fb - </a>
                       <a href="#">Tw - </a>
                       <a href="#">In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-------------------section our team --------------------------------->




