
@import '../../colors/color';
@import '../../font/font';
@import '../../mixin/mxixn';


/*---------------------------header---------------------*/
.header
{
    width: 100%;
    height: 400px;
    background-image: url(../../../assets/images/Team.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .head-content
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 
        {
            color: $bgColor;
            font-size: $fontSize3;
            font-family: $fontFamily2;
            letter-spacing: 10px;
            font-weight: $fontWight2;
        }
    }
}
/*---------------------------header---------------------*/



/*---------------------------team---------------------*/

.team
{
    .team-content
    {
        h3 
        {
            font-size: $fontSize1;
            font-family: $fontFamily2;
            font-weight: $fontWight2;
            letter-spacing: 3px;
        }
        p 
        {
            margin-top: -13px;
            color: $thirdColor;
            font-size: 15px;
            font-family: $fontFamily4;
        }
        a
        {
            text-decoration: none;
            color: $thirdColor;
            font-size: $fontSize1 + 4px;
            font-family: $fontFamily3;
            font-style: italic;
        }

        a:hover 
        {
            color: $firstColor;
        }
    }
}


/*---------------------------team---------------------*/


@media (max-width : 992px ) and (min-width : 768px)
{
    .img-size
    {
        width: 75% !important;
    }
}


