<!----------------------------section header------------------------------>

<header class="header">
    <div class="head-content">
        <a (click) ="navigate()">Home </a>
        <span>  - </span>
        <a>Cascading Products</a>
    </div>
</header>

<!----------------------------section header------------------------------>


<!-------------------section Summer Collection -------------------------------->

<section class="summer-collection py-5">
    <div class="summer-head pt-5">
        <div data-aos="zoom-in" data-aos-duration="800">
            <p>Summer Collection</p>
            <h2>TURN YOUR HOME INTO AN OASIS AND <br> DECORATE IT WITH OUR BEAUTIFUL ITEMS.</h2>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row row-cols-2 row-cols-lg-4 row-cols-md-4  mb-5" data-aos="zoom-in-up" data-aos-duration="1500">
            <div class="col mb-4">
                <div class="img-summer">
                    <img src="assets/images/h4_1.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>LOCKER</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$36.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4 pt-5">
                <div class="img-summer">
                    <img src="assets/images/h5_1.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>SAGUARO</h5>
                            <a href="#">Herbs</a>
                           <div class="vote">$15.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4">
                <div class="img-summer">
                    <img src="assets/images/40.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>YELLOW PLATE</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$18.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4 pt-5">
                <div class="img-summer">
                    <img src="assets/images/h4_2.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>KITCHEN BOARD</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$16.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4 ">
                <div class="img-summer">
                    <img src="assets/images/h4_3.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>GREEN CHAIR</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$40.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4 pt-5 mt-3">
                <div class="img-summer">
                    <img src="assets/images/h4_4.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>ORANGE VASSE</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$16.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4">
                <div class="img-summer">
                    <img src="assets/images/h4_5.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>WICKER BASKET</h5>
                            <a href="#">Decorative</a>
                           <div class="vote">$20.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            <div class="col mb-4 pt-5 mt-3">
                <div class="img-summer">
                    <img src="assets/images/h4_6.jpg" alt="chair" class="img-fluid">
                    <div class="cover">
                        <div class="icons">
                            <i class="far fa-heart"></i>
                            <i nz-icon nzType="eye" class="eyes" nzTheme="outline"></i>
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                    <div class="content d-flex justify-content-center">
                        <div>
                            <h5>CORN TREE</h5>
                            <a href="#">Herbs</a>
                           <div class="vote">$60.00</div>
                        </div>   
                    </div>

                </div>

            </div>
            
        </div>
        
    </div>
</section>

<!-------------------section Summer Collection --------------------------------->

