<!----------------------------section header------------------------------>

<header class="header">
    <div class="head-content">
        <a (click) ="navigate()">Home </a>
        <span>  - </span>
        <a>Blog Masonry</a>
    </div>
</header>

<!----------------------------section header------------------------------>



<!-------------------section daily --------------------------------->

<section class="daily container py-5">
    <div class="daily-head pt-5">
        <div>
            <p>Daily Dose of Tips</p>
            <h2>READ OUR BLOG</h2>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/34.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Tables, </a>
                        <a href="#">Wall Plates - </a>
                        <a href="#">March 27, 2020</a>
                    </div>
                    <h4>THINKING OF A PLACE</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/35.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Wall Plates - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>PERFECT DECORATION</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/36.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Wall Plates - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>INTERIOR DESIGN STYLE</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Home4_1.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Tables - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>APARTMENT THERAPY</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Home4_2.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Tables - </a>
                        <a href="#">April 9, 2020</a>
                    </div>
                    <h4>STYLE WITH MIRRORS</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Home4_3.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Tiles - </a>
                        <a href="#">May 6, 2020</a>
                    </div>
                    <h4>FOLLOW YOUR DREAMS</h4>
                    <p>Lorem ipsum dolor sit amet, debet consulatu ne vix, 
                        vel ut iusto postea, hinc choro per id. Vide
                    </p>
                    <a href="#" class="buttons befors">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-------------------section daily --------------------------------->

