<!----------------------------section header------------------------------>

<header class="header">
    <div class="head-content">
        <a (click) ="navigate()">Home </a>
        <span>  - </span>
        <a>Standard List</a>
    </div>
</header>

<!----------------------------section header------------------------------>




<!-------------------section daily --------------------------------->

<section class="daily container py-5">
    <div class="row row-cols-1 row-cols-lg-3 py-5">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-1.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Eco - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>LIGHT</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-2.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Art - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>EXPLORING COLOR</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-3.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Art - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>MODERN OFFICE</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-4.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Travel - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>MODERN AND CONFORTABLE</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-5.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Eco - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>CLASSIC SOPHISTICATED</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-6.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Art - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>PRACTICAL ENTRANCE</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-7.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Travel - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>CORPORATE OFFICE</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-8.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Eco - </a>
                        <a href="#">Interior</a>
                    </div>
                    <h4>STYLE AND STORAGE</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
            <div class="daily-content">
                <img src="assets/images/Portfolio_list_lookbook-9.jpg" class="img-fluid" alt="woman">
                <div class="daily-body pt-4 mt-2">
                    <div class="a-body">
                        <a href="#">Interior - </a>
                        <a href="#">Travel</a>
                    </div>
                    <h4>RESIDENCE INTERIOR</h4>
                </div>
            </div>
        </div>
        
    </div>
</section>



<!-------------------section daily --------------------------------->

